
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Passion+One');

body
{
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
}
section
{
    display: block;
    padding: 10px;
}
aside
{
    display: block;
    float: right;
    width: 32%;
    min-width: 300px;
    margin:10px;
    padding:5px;
    margin-top: 60px;
    padding-left:12px;
    margin-left: 30px;
    color: white;
    border-radius: 7px;
}
#asideMaths
{
    background-color: #aa2525;
}
#asidePhys
{
    background-color: #1c99b4;
}
aside a
{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
aside a:hover
{
    color: white;
    text-decoration: underline;
}
nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #bbb; 
    background-color: white;
    width: 100%;
    top:0;
    font-weight: bold;
}
nav ul li 
{
    display: inline;
}
nav ul li a
{
    font-size: 23px;
    padding: 6px;
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #efefef;
}
#submit
{
    float: right;
    border-left: 1px solid #bbb;
    padding-left: 10px;
    padding-right: 20px;
}
#home
{
    text-transform: uppercase;
    font-size: 30px;
    border-right: 1px solid #bbb;
    padding-right: 10px;
}
#banner
{
    width:100%;
    padding: 0;
    overflow: hidden;
}
.sticky ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #bbb; 
}
.sticky ul li 
{
    display: inline;
}
.sticky ul li a
{
    font-size: 23px;
    padding: 5px;
    color: black;
    text-decoration: none;
}
.sticky ul li a:hover {
    background-color: #efefef;
}
.sticky 
{
    position: fixed;
    top: 0;
    width: 100%;
}
footer
{
    position: static;
    background-color: rgb(223, 223, 223);
    text-align: center;
    font-size: 12px;
    margin:0;
    bottom:0;
    width: 100%;
    border-top: 1px solid rgb(145, 145, 145);
    padding-bottom: 13px;
    padding-top: 10px;
}
footer p
{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(124, 124, 124);
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}
form
{
    width:40%;
}
#submitButton
{
    background-color: #e6e6e6;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 15px;
    margin:5px;
    height:30px;
    text-align: center;
    cursor: pointer;
}
select {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
#order
{
    padding:25px;
    display: inline-block;
}
p
{
    text-align: justify;
}
.sticky + .content 
{
    padding-top: 60px;
}
.content 
{
    padding: 16px;
}
#nameAuthor
{
    font-size: 45px;
    font-weight:bold;
}
#core
{
    padding:10px;
}
#paperList a
{
    text-decoration: none;
    color:black;
    font-size: 18px;
}
.home
{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size:100%; 
}

.homeBox
{
    color: white;
    border: 1px solid white;
    width: 25%;
    margin-left: 55px;
    margin-top: 10%;
    padding-left: 15px;
    padding-right: 15px;
}
.menuSubject
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-right: 4px;
}
.subjectPhysics
{
    background-color: #328CD1;
    padding: 15px;
}
.subjectsPapersPhysics
{
    background-color: #81DAF5;
}
.subjectMaths
{
    background-color: #ed0b0b;
    padding: 15px;
}
.subjectPapersMaths
{
    background-color: #ee8f8f;
}

.subjectsPapers ul
{
    margin-bottom: 10px;
}
#sources
{
    text-align: center;
    margin: 0 auto;
}
#sources ul
{
    text-align: center;
    list-style-type: none;
}
#sources ul li
{
    text-align: center;
    display:inline;
}
#sources ul img
{
    height: 30px;
    border-radius: 2px;
    margin-right: 10px;
    margin-left: 10px;
}
#placeholder
{
    height:auto;
}
#bigTitle
{
    width:100%;
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align:center;
    font-size: 50px;
}
#titleDiv
{
    border-bottom: 1px solid #bbb;
}